COMPOSE_PROJECT_NAME=scms

FRONTEND_PORT=5173
BACKEND_PORT=8080

POSTGRES_DB=scms
POSTGRES_USER=scms_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@scms.example.com
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050

REDIS_PORT=6379

MINIO_ROOT_USER=scms_minio
MINIO_ROOT_PASSWORD=change_me
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

RABBITMQ_DEFAULT_USER=scms
RABBITMQ_DEFAULT_PASS=change_me
RABBITMQ_VHOST=/scms
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

VITE_API_BASE_URL=http://localhost:8080
CORS_ALLOWED_ORIGINS=http://localhost:5173
